.swiper-button-next,
        .swiper-button-prev {
          width: 30px; /* Reduced width */
          height: 30px; /* Reduced height */
          background-size: 60%; /* Adjust icon size */
        }
      
        .swiper-button-next:after,
        .swiper-button-prev:after {
          font-size: 16px; /* Adjust icon font size */
        }