/* :root {
  --menu-width: 350px;
  --scene-width: 1000px;
  --scene-height: 400px;
  --strawberry-color: #D64541;
  --banana-color: #F5D76E;
  --apple-color: #00B16A;
  --orange-color: #F27935;
  --white-color: #fff;
  --gray-color: #eee;
}

@keyframes slidein {
  0% {
    top: calc(-1 * var(--scene-height));
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: calc(-1 * var(--scene-height));
    opacity: 0;
  }
}

body {
  background: var(--gray-color);
  font-family: "Tahoma", sans-serif;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: left;
  width: var(--scene-width);
  height: var(--scene-height);
  background-color: var(--white-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#left-zone {
  background: var(--white-color);
  height: 75%;
  width: var(--menu-width);
  display: flex;
  align-items: center;
  justify-content: left;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.item input[type="radio"] {
  display: none;
}

.item label {
  display: block;
  opacity: 0.5;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.item label:hover {
  opacity: 0.75;
}

.item input[type="radio"]:checked + label {
  opacity: 1;
}

.item input[type="radio"]:checked ~ .content {
  animation: slidein 0.75s forwards;
}

.content {
  position: absolute;
  left: var(--menu-width);
  top: calc(-1 * var(--scene-height));
  width: calc(var(--scene-width) - var(--menu-width));
  height: var(--scene-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: slideout 0.75s forwards;
}

.content h1 {
  font-size: 24px;
  text-transform: capitalize;
}

.content p {
  text-align: center;
  max-width: 50%;
}

.content_strawberry h1 {
  color: var(--strawberry-color);
}

.content_banana h1 {
  color: var(--banana-color);
}

.content_apple h1 {
  color: var(--apple-color);
}

.content_orange h1 {
  color: var(--orange-color);
}

#middle-border {
  background-color: var(--gray-color);
  height: 75%;
  width: 2px;
}

#right-zone {
  background: var(--white-color);
  flex-grow: 3;
} */
